<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/tab1"> </ion-back-button>
    </ion-buttons>
    <ion-row class="ion-align-items-center">
      <ion-title> Análise cármica </ion-title>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-text>
          <h4><strong>Nome:</strong> Aleff Rodrigues Mendes de Oliveira</h4>
        </ion-text>
        <h4><strong>Data nascimento:</strong> 25/11/1994</h4>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col>
        <ion-button color="secondary">
          <div>
            <label>10</label>
            <br>
            <label class="wrap-text">Mental</label>
          </div>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button color="medium">20</ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="medium">20</ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="medium">20</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button  color="secondary">
          <div>
            <label>10</label>
            <br>
            <label class="wrap-text">Emocional</label>
          </div>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="medium">20</ion-button>
      </ion-col>
      <ion-col>
        <ion-button  color="secondary">
          <div>
            <label>10</label>
            <br>
            <label class="wrap-text">Espiritual</label>
          </div>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="medium">20</ion-button>
      </ion-col>
      <ion-col>
        <ion-button  color="secondary">
          <div>
            <label>10</label>
            <br>
            <label class="wrap-text">Racional</label>
          </div>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button color="medium">20</ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="medium">20</ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="medium">20</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button  color="secondary">
          <div>
            <label>10</label>
            <br>
            <label class="wrap-text">Tridimensional</label>
          </div>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button color="medium">20</ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="medium">20</ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="medium">20</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button  color="secondary">
          <div>
            <label>10</label>
            <br>
            <label class="wrap-text">Transpessoal</label>
          </div>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
