<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/tab1"> </ion-back-button>
    </ion-buttons>
    <ion-row class="ion-align-items-center">
      <ion-title> Análise cármica </ion-title>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-text>
          <h4><strong>Nome:</strong> {{ nome }}</h4>
        </ion-text>
        <h4><strong>Data nascimento:</strong> {{ dataNascimento }}</h4>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-accordion-group>
          <ion-accordion value="ar">
            <ion-item slot="header" lines="inset">
              <ion-label><strong>Arcanos</strong></ion-label>
            </ion-item>

            <ion-list slot="content">
              <ion-item (click)="presentModal(analiseCarmica[0])" button>
                <ion-label>{{ data[analiseCarmica[0]].title }}</ion-label>
              </ion-item>
              <ion-item *ngIf="analiseCarmica[1] > 0" (click)="presentModal(analiseCarmica[1])" button>
                <ion-label>{{ data[analiseCarmica[1]].title  }}</ion-label>
              </ion-item>
            </ion-list>
          </ion-accordion>
          <ion-accordion value="colors">
            <ion-item slot="header">
              <ion-label><strong>Ciclo cósmico</strong></ion-label>
            </ion-item>

            <ion-list slot="content">
              <ion-item>
                <ion-label>Idade: {{ cicloCosmico.idade }} anos</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Ciclo Sazonal: {{ cicloCosmico.cicloSazonal }}</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Ciclo Cósmico: {{ cicloCosmico.cicloCosmico }}</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Quantos Ciclos  já viveu?: {{ cicloCosmico.qtdCiclos }}</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Atual Ciclo Cósmico: Ciclo {{ cicloCosmico.cicloAtual }}</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Atual Estação Cósmica: {{ cicloCosmico.estacaoAtual }}</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Data inicial dessa Estação: {{ cicloCosmico.dataInicialEstacao | date: 'dd/MM/yyyy' }}</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Data final dessa Estação: {{ cicloCosmico.dataFinalEstacao | date: 'dd/MM/yyyy' }}</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Próxima Estação: {{ cicloCosmico.proximaEstacao }}</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Data início próxima Estação: {{ cicloCosmico.dataInicioProximaEstacao | date: 'dd/MM/yyyy' }}</ion-label>
              </ion-item>
            </ion-list>
          </ion-accordion>
        </ion-accordion-group>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col>
        <ion-button color="secondary">
          <div>
            <label>{{ arcanos.mental }}</label>
            <br>
            <label class="wrap-text">Mental</label>
          </div>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button color="medium">{{ arcanos.mental + arcanos.emocional }}</ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="medium">{{ arcanos.mental + arcanos.espiritual }}</ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="medium">{{ arcanos.mental + arcanos.racional }}</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button  color="secondary">
          <div>
            <label>{{ arcanos.emocional }}</label>
            <br>
            <label class="wrap-text">Emocional</label>
          </div>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="medium">{{ arcanos.emocional + arcanos.espiritual }}</ion-button>
      </ion-col>
      <ion-col>
        <ion-button  color="secondary">
          <div>
            <label>{{ arcanos.espiritual }}</label>
            <br>
            <label class="wrap-text">Espiritual</label>
          </div>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="medium">{{ arcanos.racional + arcanos.espiritual }}</ion-button>
      </ion-col>
      <ion-col>
        <ion-button  color="secondary">
          <div>
            <label>{{ arcanos.racional }}</label>
            <br>
            <label class="wrap-text">Racional</label>
          </div>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button color="medium">{{ arcanos.emocional + arcanos.tridimensional }}</ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="medium">{{ arcanos.tridimensional + arcanos.espiritual }}</ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="medium">{{ arcanos.tridimensional + arcanos.racional }}</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button  color="secondary">
          <div>
            <label>{{ arcanos.tridimensional }}</label>
            <br>
            <label class="wrap-text">Tridimensional</label>
          </div>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button color="medium">{{ arcanos.transpessoal + arcanos.emocional }}</ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="medium">{{ arcanos.transpessoal + arcanos.tridimensional }}</ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="medium">{{ arcanos.transpessoal + arcanos.racional }}</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button  color="secondary">
          <div>
            <label>{{ arcanos.transpessoal }}</label>
            <br>
            <label class="wrap-text">Transpessoal</label>
          </div>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
